body{
    color: green;
    background: rgb(136, 197, 99);
    margin: 0px;
    font-family: "Permanent Marker", sans-serif;
}
header{ 
    border-bottom: solid 2px rgb(200, 225, 186
    padding: 20px;
    font-size: 32px;
    color:rgb(148, 163, 81);
}

section{
    background: white;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
} 